<div class="main">

    <h1>Sabke noodz hote hai, sab batate nahi</h1>
    <hr>
    
    <h2>Ye hai humaare noodz</h2>
    <p>Resize the browser window to see the responsive effect.</p>
    
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="../../../assets/gallery/1.jpg" alt="Mountains" style="width:100%">
          <h3>Weak foundation, bulky roof ka example</h3>
          <p>Starring Kaniks</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="../../../assets/gallery/2.jpg" alt="Lights" style="width:100%">
          <h3>Pahadiyo ke beech ek raasta</h3>
          <p>Same hero apna</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="../../../assets/gallery/3.jpg" alt="Nature" style="width:100%">
          <h3>Background pe dhyaan dena</h3>
          <p>Starring Vinod and his chaddi</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="../../../assets/gallery/4.jpg" alt="Mountains" style="width:100%">
          <h3>Foreground delete karna hai yaar</h3>
          <p>Johnny Sins ki 69th naajayaz aulaad: Vinod</p>
        </div>
      </div>
    <!-- END GRID -->
    </div>
    
    <div class="content">
      <img src="../../../assets/gallery/5.jpg" alt="Bear" style="width:100%">
      <h3>Magic Mike ke baap, contact for escort/ stripper service</h3>
      <p>Paisa jo dena hai de dena apan toh bas sexy sex ke liye aayenge</p>
      <p>Lol jk Sandeep ko biscuit khilaane ke liye 20 rupya de dena :P</p>
    </div>
    
    <!-- END MAIN -->
    </div>